
        h1 {
            text-decoration: underline;
            text-align: center;
            color: pink;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        }
        h2 {
            color:pink;
        }
        .px {
            color: rgb(177, 170, 177);
            font-size: 20px;
        }
        .persn {
            color: rgb(177, 170, 177);
            font-size: 150%;
        }
        .em {
            color: rgb(177, 170, 177);
            font-size: 2em;
        }
        .rem {
            color: rgb(177, 170, 177);
            font-size: 2rem;
        }
        .size-normal {
            color: rgb(177, 170, 177);
            font-size: normal;
        }
        .size-small {
            color: rgb(177, 170, 177);
            font-size: small;
        }
        .size-large {
            color: rgb(177, 170, 177);
            font-size: large;
        }
        .size-x-large {
            color: rgb(177, 170, 177);
            font-size: x-large;
        }
        .size-xx-large {
            color: rgb(177, 170, 177);
            font-size: xx-large;
        }
        .size-x-small {
            color: rgb(177, 170, 177);
            font-size: x-small;
        }
        .size-xx-small {
            color: rgb(177, 170, 177);
            font-size: xx-small;
        }
        .w-lighter {
            color: rgb(177, 170, 177);
            font-weight: lighter;
        }
        .w-normal {color: rgb(177, 170, 177);
            font-weight: normal;
        }
        .w-bold {
            color: rgb(177, 170, 177);
            font-weight: bold;
        }
        .w-bolder {
            color: rgb(177, 170, 177);
            font-weight: bolder;
        }
        .wn-100 {
            color: rgb(177, 170, 177);
            font-weight: 100;
        }
        .wn-400 {
            color: rgb(177, 170, 177);
            font-weight: 400;
        }
        .wn-700 {
            color: rgb(177, 170, 177);
            font-weight: 700;
        }
        .wn-900 {
            color: rgb(177, 170, 177);
            font-weight: 900;
        }
         .style-normal {
            color: rgb(177, 170, 177);
            font-style: normal;
        }
        .style-italic {
            color: rgb(177, 170, 177);
            font-style: italic;
        }
        .style-oblique {
            color: rgb(177, 170, 177);
            font-style: oblique;
        }
        .font-arial {
            color: rgb(177, 170, 177);
            font-family: Arial, Helvetica, sans-serif;
        }

        .font-times {
            color: rgb(177, 170, 177);
            font-family: 'Times New Roman', Times, serif;
        }

        .font-courier {
            color: rgb(177, 170, 177);
            font-family: 'Courier New', Courier, monospace;
        }
    
